@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.top-image {
  background-image: url('https://images.pexels.com/photos/4492195/pexels-photo-4492195.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  object-fit: cover;
  width: 100%;
  height: 600px;
}